[UPDATE] Atualiza o Token de Acesso.json
{
  "name": "[UPDATE] Atualiza o Token de Acesso",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://merchant-api.ifood.com.br/authentication/v1.0/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grantType",
              "value": "client_credentials"
            },
            {
              "name": "clientId",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "clientSecret",
              "value": "={{ $json.client_secret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        128
      ],
      "id": "c2462208-0d30-4814-acb5-7b4376c34297",
      "name": "[Client Credencials]",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "403bda9e-0b5c-4962-94f6-45d795862c68",
              "name": "updated_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "549acf86-e1ce-438b-bdf3-dec21e3d8b95",
              "name": "clientId",
              "value": "={{ $('Get many rows').item.json.client_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        112
      ],
      "id": "70f4afd6-4708-47ae-8b7e-03a85f482df1",
      "name": "Filtra Dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef7adf81-4999-45b9-99bf-112f91692a68",
              "name": "error",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        304
      ],
      "id": "5e8a401e-52ff-48ab-949d-060858f9c5a2",
      "name": "Mensagem de Erro"
    },
    {
      "parameters": {
        "content": "## ATUALIZA TOKEN DE ACESSO NO IFOOD ",
        "height": 440,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        32
      ],
      "id": "ea48543b-dcfd-4c2d-ac6f-ef210945eefe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        128
      ],
      "id": "7ea77864-075f-42af-8710-96a7818ad1ee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ifood_tokens",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        128
      ],
      "id": "a1bcc1fb-2389-460a-aee4-22dd865b025f",
      "name": "Get many rows",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ifood_tokens",
        "filters": {
          "conditions": [
            {
              "keyName": "client_id",
              "condition": "eq",
              "keyValue": "={{ $json.clientId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            },
            {
              "fieldId": "access_token",
              "fieldValue": "={{ $item(\"0\").$node[\"[Client Credencials]\"].json[\"accessToken\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        112
      ],
      "id": "133a1f48-016c-4d3e-b927-fe5dcb1a9090",
      "name": "Atualiza Token de Acesso",
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-07-28T06:50:52.009-03:00",
          "Readable date": "July 28th 2025, 6:50:52 am",
          "Readable time": "6:50:52 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "July",
          "Day of month": "28",
          "Hour": "06",
          "Minute": "50",
          "Second": "52",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "connections": {
    "[Client Credencials]": {
      "main": [
        [
          {
            "node": "Filtra Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Dados": {
      "main": [
        [
          {
            "node": "Atualiza Token de Acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Erro": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "[Client Credencials]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Token de Acesso": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eaa7c3b8-e9f3-4458-bdd7-6314a8728322",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d671f0f22e0456e67c382ec7d8684bfcf78d43fd576c57604c7a586aea237f0"
  },
  "id": "aBvumBfdvtM3h5Wg",
  "tags": []
}