n8n-workflows/[CREATE] Token de Acesso.json
{
  "name": "[CREATE] Token de Acesso",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "token",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        128
      ],
      "id": "7813eacb-fbc6-42dc-a559-ad3e2b3496b0",
      "name": "Webhook",
      "webhookId": "b6a12516-4a04-43ec-8804-08c34da72dba"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://merchant-api.ifood.com.br/authentication/v1.0/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grantType",
              "value": "client_credentials"
            },
            {
              "name": "clientId",
              "value": "={{ $('Webhook').item.json.body.clientId }}"
            },
            {
              "name": "clientSecret",
              "value": "={{ $('Webhook').item.json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        208
      ],
      "id": "c2462208-0d30-4814-acb5-7b4376c34297",
      "name": "[Client Credencials]",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1248,
        224
      ],
      "id": "ffb1c538-515f-4c67-9dd1-abbc501d7e73",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "accb1bf6-631a-4c5a-a9fa-0418ca717fd8",
              "name": "clientId",
              "value": "={{ $('Webhook').item.json.body.clientId }}",
              "type": "string"
            },
            {
              "id": "45a60f9c-c3a7-433f-8424-2f902fdd4deb",
              "name": "clientSecret",
              "value": "={{ $('Webhook').item.json.body.clientSecret }}",
              "type": "string"
            },
            {
              "id": "a088b3a2-e223-462c-8fec-2ce2b3d75a77",
              "name": "accessToken",
              "value": "={{ $json.accessToken }}",
              "type": "string"
            },
            {
              "id": "760bc1ed-3789-4ce4-a716-707e4d8d9d81",
              "name": "expiresIn",
              "value": "={{ $json.expiresIn }}",
              "type": "number"
            },
            {
              "id": "136ecae0-723a-4ca7-bbf2-49294045a94a",
              "name": "created_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7b936a05-ef42-46e1-8fac-f67753da4571",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        224
      ],
      "id": "70f4afd6-4708-47ae-8b7e-03a85f482df1",
      "name": "Filtra Dados"
    },
    {
      "parameters": {
        "tableId": "ifood_tokens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $json.clientId }}"
            },
            {
              "fieldId": "client_secret",
              "fieldValue": "={{ $json.clientSecret }}"
            },
            {
              "fieldId": "expires_at",
              "fieldValue": "={{ $json.expiresIn }}"
            },
            {
              "fieldId": "access_token",
              "fieldValue": "={{ $json.accessToken }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        224
      ],
      "id": "133a1f48-016c-4d3e-b927-fe5dcb1a9090",
      "name": "Cria Token",
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "accb1bf6-631a-4c5a-a9fa-0418ca717fd8",
              "name": "clientId",
              "value": "={{ $('Webhook').item.json.body.clientId }}",
              "type": "string"
            },
            {
              "id": "45a60f9c-c3a7-433f-8424-2f902fdd4deb",
              "name": "clientSecret",
              "value": "={{ $('Webhook').item.json.body.clientSecret }}",
              "type": "string"
            },
            {
              "id": "760bc1ed-3789-4ce4-a716-707e4d8d9d81",
              "name": "expiresIn",
              "value": "={{ $json.expires_at }}",
              "type": "number"
            },
            {
              "id": "14b1db34-e327-4f0e-8a59-9d78bf088579",
              "name": "updated_at",
              "value": "={{ $json.updated_at }}",
              "type": "string"
            },
            {
              "id": "df85e5b1-a5f9-424c-8bb7-ab1ce92903d1",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        224
      ],
      "id": "d4343dfc-985b-4f5e-a9f8-3c971eb2ff3a",
      "name": "Filtra Dados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef7adf81-4999-45b9-99bf-112f91692a68",
              "name": "error",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        384
      ],
      "id": "5e8a401e-52ff-48ab-949d-060858f9c5a2",
      "name": "Mensagem de Erro"
    },
    {
      "parameters": {
        "content": "## CRIA TOKEN DE ACESSO NO IFOOD ",
        "height": 504,
        "width": 1424
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        32
      ],
      "id": "ea48543b-dcfd-4c2d-ac6f-ef210945eefe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ifood_tokens",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "client_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.clientId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "f0f8b2fe-2485-44c1-b6e7-4f9487a3762c",
      "name": "[GET ALL] Pega o Token de Acesso",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c2d0b24-6d56-4d51-9011-4fe18858465a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        128
      ],
      "id": "3a673120-c1d1-4190-939a-0b03e599ba2d",
      "name": "[FILTER] Verifica se o JSON esta vazio"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.n8n.hml.planocertodelivery.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0",
            "content-length": "217",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "https://plano-certo-delivery.vercel.app",
            "priority": "u=1, i",
            "referer": "https://plano-certo-delivery.vercel.app/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "177.193.145.196",
            "x-forwarded-host": "webhook.n8n.hml.planocertodelivery.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "177.193.145.196"
          },
          "params": {},
          "query": {},
          "body": {
            "clientId": "f133bf28-ff34-47c3-827d-dd2b662f0363",
            "clientSecret": "gh1x4aatcrge25wtv6j6qx9b1lqktt3vupjxijp10iodlojmj1vytvibqzgai5z0zjd3t5drhxij5ifwf1nlw09z06mt92rx149",
            "user_id": "4bd7433f-bc74-471f-ac0d-7d631bd5038c"
          },
          "webhookUrl": "https://webhook.n8n.hml.planocertodelivery.com/webhook/token",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "[GET ALL] Pega o Token de Acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Client Credencials]": {
      "main": [
        [
          {
            "node": "Filtra Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Dados": {
      "main": [
        [
          {
            "node": "Cria Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Token": {
      "main": [
        [
          {
            "node": "Filtra Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Dados1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Erro": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET ALL] Pega o Token de Acesso": {
      "main": [
        [
          {
            "node": "[FILTER] Verifica se o JSON esta vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Verifica se o JSON esta vazio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Client Credencials]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dca41245-c1b1-4672-9396-06d3d454fccf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d671f0f22e0456e67c382ec7d8684bfcf78d43fd576c57604c7a586aea237f0"
  },
  "id": "7I6s1NJFkSNW33lJ",
  "tags": []
}