n8n-workflows/[MERCHANT] Pega as Lojas e Insere dentro do banco de dados.json
{
  "name": "[MERCHANT] Pega as Lojas e Insere dentro do banco de dados",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "merchant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "4b665b34-1ba3-460f-92c8-8186f59d5983",
      "name": "Webhook",
      "webhookId": "6266dc9c-99c3-4731-b733-234e9e600f60"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ifood_tokens",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "aca55559-3bd8-4b47-8606-12344eaa9f15",
      "name": "[GET] Pega o Token",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        16
      ],
      "id": "1867b552-747d-446d-b8ca-d127b575a69d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://merchant-api.ifood.com.br/merchant/v1.0/merchants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        0
      ],
      "id": "73054eb6-38e9-4ee8-9964-919e384d9837",
      "name": "[GET] Pega todas as Lojas do IFOOD",
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "ifood_merchants",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "merchant_id",
              "fieldValue": "={{ $('[FILTER] Separa dados Importantes').item.json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('[FILTER] Separa dados Importantes').item.json.name }}"
            },
            {
              "fieldId": "corporate_name",
              "fieldValue": "={{ $('[FILTER] Separa dados Importantes').item.json.corporateName }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('[FILTER] Separa dados Importantes').item.json.user_id }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $node[\"[GET] Pega o Token\"].json[\"client_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        112
      ],
      "id": "5c732ce2-44a3-476b-877c-4e919caaf27d",
      "name": "[CREATE] Adiciona as Lojas na Tabela",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e94d319c-671b-491d-b3db-08061644ee74",
              "name": "error",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        160
      ],
      "id": "5cfffb8f-b637-4cf1-9531-20ee3ab29eba",
      "name": "[ERROR] Mensagem de Erro do Endpoint"
    },
    {
      "parameters": {
        "content": "## Pega todos os Merchants e adiciona no Banco",
        "height": 448,
        "width": 1568,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "4922ef5f-2fab-406c-9696-0cfae57635c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6026fed3-d42e-4dff-809d-bc6e980d4629",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "741576dc-9b82-4905-a53f-9feea2c042ec",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "7009c069-b595-4252-b66e-135f65d5eafa",
              "name": "corporateName",
              "value": "={{ $json.corporateName }}",
              "type": "string"
            },
            {
              "id": "6401d9c3-f2b4-48c1-82c4-8713252f7701",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "8c2a2c13-e3c9-4647-8ec9-a60bc788598b",
              "name": "status",
              "value": "AVAILABLE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -16
      ],
      "id": "b3e8d73b-fa2e-44d9-80f9-62f87572d840",
      "name": "[FILTER] Separa dados Importantes"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ifood_merchants",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "merchant_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        -16
      ],
      "id": "ebb48797-284a-4be6-88ea-8b66e53a9bc1",
      "name": "[GET ALL] Pega todas as Lojas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0a62148-e18f-416d-b36a-5ae10efcb8da",
              "leftValue": "={{ $json }}",
              "rightValue": "={{ $json.merchant_id }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -16
      ],
      "id": "72126eb8-761b-4134-a866-70404cc2f280",
      "name": "[FILTER] Verifica se a Loja esta no BD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f31dc766-f0d9-4642-8057-976ca9d892f9",
              "name": "output",
              "value": "Clientes_existentes",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -64
      ],
      "id": "3c78c193-9916-486c-82b4-272d3fdf1cbe",
      "name": "[FILTER] Mensagem de que o Cliente Exista no BD"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.n8n.hml.planocertodelivery.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "1895",
            "accept": "application/json",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt-PT;q=0.9,pt;q=0.8,en-US;q=0.7,en;q=0.6",
            "content-type": "application/json",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.110.209.65",
            "x-forwarded-host": "webhook.n8n.hml.planocertodelivery.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "187.110.209.65"
          },
          "params": {},
          "query": {},
          "body": {
            "access_token": "eyJraWQiOiJlZGI4NWY2Mi00ZWY5LTExZTktODY0Ny1kNjYzYmQ4NzNkOTMiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9.eyJzdWIiOiJmMTMzYmYyOC1mZjM0LTQ3YzMtODI3ZC1kZDJiNjYyZjAzNjMiLCJvd25lcl9uYW1lIjoicGxhbm8tY2VydG8iLCJpc3MiOiJpRm9vZCIsImNsaWVudF9pZCI6ImYxMzNiZjI4LWZmMzQtNDdjMy04MjdkLWRkMmI2NjJmMDM2MyIsImF1ZCI6WyJpdGVtIiwiZmluYW5jaWFsIiwiY2F0YWxvZyIsIm1lcmNoYW50IiwibG9naXN0aWNzIiwicGlja2luZyIsIm9hdXRoLXNlcnZlciIsInNoaXBwaW5nIiwicmV2aWV3IiwiZ3JvY2VyaWVzIiwiZXZlbnRzIiwicHJvbW90aW9uIiwib3JkZXIiXSwiYXBwX25hbWUiOiJwbGFuby1jZXJ0by1kZWxpdmVyeS1sdGRhLXRlc3RlLWMiLCJzY29wZSI6WyJpdGVtIiwic2hpcHBpbmciLCJyZXZpZXciLCJjYXRhbG9nIiwibWVyY2hhbnQiLCJsb2dpc3RpY3MiLCJwaWNraW5nIiwiZ3JvY2VyaWVzIiwiZXZlbnRzIiwicHJvbW90aW9uIiwib3JkZXIiLCJjb25jaWxpYXRvciJdLCJ0dmVyIjoidjIiLCJtZXJjaGFudF9zY29wZSI6WyI1NzdjYjNiMS01ODQ1LTRmYmMtYTIxOS04Y2QzOTM5Y2I5ZWE6bWVyY2hhbnQiLCI1NzdjYjNiMS01ODQ1LTRmYmMtYTIxOS04Y2QzOTM5Y2I5ZWE6cHJvbW90aW9uIiwiNTc3Y2IzYjEtNTg0NS00ZmJjLWEyMTktOGNkMzkzOWNiOWVhOmV2ZW50cyIsIjU3N2NiM2IxLTU4NDUtNGZiYy1hMjE5LThjZDM5MzljYjllYTpwaWNraW5nIiwiNTc3Y2IzYjEtNTg0NS00ZmJjLWEyMTktOGNkMzkzOWNiOWVhOm9yZGVyIiwiNTc3Y2IzYjEtNTg0NS00ZmJjLWEyMTktOGNkMzkzOWNiOWVhOnNoaXBwaW5nIiwiNTc3Y2IzYjEtNTg0NS00ZmJjLWEyMTktOGNkMzkzOWNiOWVhOnJldmlldyIsIjU3N2NiM2IxLTU4NDUtNGZiYy1hMjE5LThjZDM5MzljYjllYTpsb2dpc3RpY3MiLCI1NzdjYjNiMS01ODQ1LTRmYmMtYTIxOS04Y2QzOTM5Y2I5ZWE6Y29uY2lsaWF0b3IiLCI1NzdjYjNiMS01ODQ1LTRmYmMtYTIxOS04Y2QzOTM5Y2I5ZWE6Z3JvY2VyaWVzIiwiNTc3Y2IzYjEtNTg0NS00ZmJjLWEyMTktOGNkMzkzOWNiOWVhOmNhdGFsb2ciLCI1NzdjYjNiMS01ODQ1LTRmYmMtYTIxOS04Y2QzOTM5Y2I5ZWE6aXRlbSJdLCJleHAiOjE3NTQzODAyMjQsImlhdCI6MTc1NDM1ODYyNCwianRpIjoiZjEzM2JmMjgtZmYzNC00N2MzLTgyN2QtZGQyYjY2MmYwMzYzIiwibWVyY2hhbnRfc2NvcGVkIjp0cnVlfQ.OnwPsGFivg1I-nTDiKot4Rj4y8UGNsIyeVP7MZhQVUmNKgnQ2toC_YTnDqKA5P8-yRQlw1Pt9SHnw6SXmM1RSjn9Vfjnv828TZFCPG3GGTtHdkY12ruz435shFG0fWGkOBIpVYIbMhkvJ1fn3uduIgT2acgCj_NT2dOaan9DqXM",
            "user_id": "c1488646-aca8-4220-aacc-00e7ae3d6490"
          },
          "webhookUrl": "https://webhook.n8n.hml.planocertodelivery.com/webhook/merchant",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "[GET] Pega o Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega o Token": {
      "main": [
        [
          {
            "node": "[GET] Pega todas as Lojas do IFOOD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega todas as Lojas do IFOOD": {
      "main": [
        [
          {
            "node": "[FILTER] Separa dados Importantes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[ERROR] Mensagem de Erro do Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CREATE] Adiciona as Lojas na Tabela": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ERROR] Mensagem de Erro do Endpoint": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Separa dados Importantes": {
      "main": [
        [
          {
            "node": "[GET ALL] Pega todas as Lojas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET ALL] Pega todas as Lojas": {
      "main": [
        [
          {
            "node": "[FILTER] Verifica se a Loja esta no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Verifica se a Loja esta no BD": {
      "main": [
        [
          {
            "node": "[FILTER] Mensagem de que o Cliente Exista no BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CREATE] Adiciona as Lojas na Tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Mensagem de que o Cliente Exista no BD": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19718eea-718e-45f2-8962-f557af456d96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d671f0f22e0456e67c382ec7d8684bfcf78d43fd576c57604c7a586aea237f0"
  },
  "id": "DIQpndJKGkEu5Lrd",
  "tags": []
}