n8n-workflows/[PRODUCT] Pega os Produtos das Lojas e Insere dentro do banco de dados.json
{
  "name": "[PRODUCT] Pega os Produtos das Lojas e Insere dentro do banco de dados",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ifood_tokens",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "5d15b8d8-a12a-4c01-9ce5-ed67314e0810",
      "name": "[GET] Pega o Token",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e94d319c-671b-491d-b3db-08061644ee74",
              "name": "error",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        144
      ],
      "id": "76530d70-8294-411b-81dc-461dfe9626e7",
      "name": "[ERROR] Mensagem de Erro do Endpoint"
    },
    {
      "parameters": {
        "content": "## Pega todos as Informações de Produtos",
        "height": 432,
        "width": 1264,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -112
      ],
      "id": "d50c77f3-3ff4-460f-8672-b60ebc198fce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        0
      ],
      "id": "db7d8bde-0db2-467d-b017-ec7d5eeb3be8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ifood_merchants",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"[GET] Pega o Token\"].json[\"user_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "78ae5042-f983-4a19-8950-34c4fca99d9c",
      "name": "[GET] Pega o Merchant_ID",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "merchant_id",
              "condition": "eq",
              "keyValue": "={{ $('[FILTER] Filtra dados Importantes dos Produtos').item.json.merchant_id }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('[FILTER] Filtra dados Importantes dos Produtos').item.json.item_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -320
      ],
      "id": "cbe9a3c3-bde0-47cc-9f0e-05d8dc92741d",
      "name": "[GET ALL] Pega todas os Produtos das Lojas",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://merchant-api.ifood.com.br/catalog/v2.0/merchants/{{ $json[\"merchant_id\"] }}/catalogs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"[GET] Pega o Token\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        0
      ],
      "id": "0b9440bb-9eea-41a5-b869-284e1443f498",
      "name": "[GET] Pega o catálogo do Merchant"
    },
    {
      "parameters": {
        "url": "=https://merchant-api.ifood.com.br/catalog/v2.0/merchants/{{ $node[\"[GET] Pega o Merchant_ID\"].json[\"merchant_id\"] }}/catalogs/{{ $item(\"0\").$node[\"[GET] Pega o catálogo do Merchant\"].json[\"catalogId\"] }}/categories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "includeItems",
              "value": "true"
            },
            {
              "name": "include_items",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"[GET] Pega o Token\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        0
      ],
      "id": "3c56533f-4062-4025-8613-c6277ea49055",
      "name": "[GET] Pega as Categorias e os Produtos da Categoria"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "id": "ab58467f-7275-4595-9de5-2976513a6e24",
      "name": "Separa os Itens"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05b7bd82-63a3-4d54-b766-9fd58753841f",
              "name": "item_id",
              "value": "={{ $('Separa os Itens').item.json.id }}",
              "type": "string"
            },
            {
              "id": "26670a19-0a79-491a-8f88-4bae76766bf7",
              "name": "name",
              "value": "={{ $('Separa os Itens').item.json.name }}",
              "type": "string"
            },
            {
              "id": "9f80a2c2-5272-4879-82a6-fb3bceec88f8",
              "name": "description",
              "value": "={{ $('Separa os Itens').item.json.description }}",
              "type": "string"
            },
            {
              "id": "13bf9017-da11-4461-ac4c-d123d8dfef68",
              "name": "status",
              "value": "={{ $('Separa os Itens').item.json.status }}",
              "type": "string"
            },
            {
              "id": "5ab50104-1a3c-4d18-af41-a416d86f259a",
              "name": "productId",
              "value": "={{ $('Separa os Itens').item.json.productId }}",
              "type": "string"
            },
            {
              "id": "afe54348-a2b0-42f9-9040-58fb56e50e80",
              "name": "imagePath",
              "value": "={{ $('Separa os Itens').item.json.imagePath }}",
              "type": "string"
            },
            {
              "id": "faf5de24-9cfc-4cf3-8923-0d4d8706c09a",
              "name": "price.value",
              "value": "={{ $json.price.value }}",
              "type": "number"
            },
            {
              "id": "8e09e450-9b4b-47bb-924a-4b473547a3cf",
              "name": "merchant_id",
              "value": "={{ $('[GET] Pega o Merchant_ID').item.json.merchant_id }}",
              "type": "string"
            },
            {
              "id": "ab381311-5ff2-4c72-a4f6-96a15320958f",
              "name": "user_id",
              "value": "={{ $('[GET] Pega o Merchant_ID').item.json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        0
      ],
      "id": "2c4c09ae-6516-4e06-a408-08f06bc4e3aa",
      "name": "[FILTER] Filtra dados Importantes dos Produtos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "963178ad-67eb-4f6d-8681-652f678b08f0",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": "=UNAVAILABLE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3568,
        -32
      ],
      "id": "7d8615e4-9d73-4f20-980c-0d91a21905e8",
      "name": "Verifica se o Status do Produto"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "merchant_id",
              "condition": "eq",
              "keyValue": "={{ $json[\"merchant_id\"] }}"
            },
            {
              "keyName": "item_id",
              "condition": "eq",
              "keyValue": "={{ $json.item_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3808,
        -48
      ],
      "id": "e01730d5-2fec-4769-bc6d-c72596252ef2",
      "name": "[UPDATE] Atualiza Status do Merchant para UNAVAILABLE",
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "content": "## *Filtro de Status dos Produtos*",
        "height": 432,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3504,
        -112
      ],
      "id": "4976475e-601b-44c3-b8a6-63499385a0f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "item_id",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"item_id\"] }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"name\"] }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"description\"] }}"
            },
            {
              "fieldId": "merchant_id",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"merchant_id\"] }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('[GET] Pega o Token').item.json.client_id }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"status\"] }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"price\"][\"value\"] }}"
            },
            {
              "fieldId": "imagePath",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"imagePath\"] }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('[FILTER] Filtra dados Importantes dos Produtos1').item.json.productId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        -320
      ],
      "id": "beb3d161-ee09-4988-a624-5bd7bfc92a81",
      "name": "[CREATE] Cria o Produto dentro do banco de dados",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34033ee4-26e0-458a-ac14-ce98bedcf50b",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1632,
        -320
      ],
      "id": "17f8a92d-4053-4255-8a41-a947628dba75",
      "name": "Verifica se o JSON esta Vazio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05b7bd82-63a3-4d54-b766-9fd58753841f",
              "name": "item_id",
              "value": "={{ $node[\"Separa os Itens\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "26670a19-0a79-491a-8f88-4bae76766bf7",
              "name": "name",
              "value": "={{ $node[\"Separa os Itens\"].json[\"name\"] }}",
              "type": "string"
            },
            {
              "id": "9f80a2c2-5272-4879-82a6-fb3bceec88f8",
              "name": "description",
              "value": "={{ $node[\"Separa os Itens\"].json[\"description\"] }}",
              "type": "string"
            },
            {
              "id": "13bf9017-da11-4461-ac4c-d123d8dfef68",
              "name": "status",
              "value": "={{ $node[\"Separa os Itens\"].json[\"status\"] }}",
              "type": "string"
            },
            {
              "id": "5ab50104-1a3c-4d18-af41-a416d86f259a",
              "name": "productId",
              "value": "={{ $node[\"Separa os Itens\"].json[\"productId\"] }}",
              "type": "string"
            },
            {
              "id": "afe54348-a2b0-42f9-9040-58fb56e50e80",
              "name": "imagePath",
              "value": "={{ $node[\"Separa os Itens\"].json[\"imagePath\"] }}",
              "type": "string"
            },
            {
              "id": "faf5de24-9cfc-4cf3-8923-0d4d8706c09a",
              "name": "price.value",
              "value": "={{ $node[\"Separa os Itens\"].json[\"price\"][\"value\"] }}",
              "type": "number"
            },
            {
              "id": "8e09e450-9b4b-47bb-924a-4b473547a3cf",
              "name": "merchant_id",
              "value": "={{ $('[GET] Pega o Merchant_ID').item.json.merchant_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        -320
      ],
      "id": "5bc045c6-1b01-4065-a5f2-f7048e3676e3",
      "name": "[FILTER] Filtra dados Importantes dos Produtos1"
    },
    {
      "parameters": {
        "url": "=https://merchant-api.ifood.com.br/catalog/v2.0/merchants/{{ $node[\"[GET] Pega o Merchant_ID\"].json[\"merchant_id\"] }}/catalogs/{{ $item(\"0\").$node[\"[GET] Pega o catálogo do Merchant\"].json[\"catalogId\"] }}/categories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"[GET] Pega o Token\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -320
      ],
      "id": "cbd019d0-4d11-4d65-956a-c8663533b444",
      "name": "[GET] Pega as Categorias e os Produtos da Categoria1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2208,
        -320
      ],
      "id": "04d91b82-30eb-47ea-a97b-c5871846d0d9",
      "name": "Separa os Itens1"
    },
    {
      "parameters": {
        "content": "## **Primeiro Insert de Produtos do Cliente**",
        "height": 256,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        -400
      ],
      "id": "0131de44-26e3-4c29-baf6-87a370c2f122",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2032,
        -16
      ],
      "id": "3d1b8c76-d7c3-4d2d-962a-57491c287a0b",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05b7bd82-63a3-4d54-b766-9fd58753841f",
              "name": "item_id",
              "value": "={{ $json.item_id }}",
              "type": "string"
            },
            {
              "id": "26670a19-0a79-491a-8f88-4bae76766bf7",
              "name": "name",
              "value": "={{ $json[\"name\"] }}",
              "type": "string"
            },
            {
              "id": "9f80a2c2-5272-4879-82a6-fb3bceec88f8",
              "name": "description",
              "value": "={{ $json[\"description\"] }}",
              "type": "string"
            },
            {
              "id": "13bf9017-da11-4461-ac4c-d123d8dfef68",
              "name": "status",
              "value": "={{ $json[\"is_active\"] }}",
              "type": "string"
            },
            {
              "id": "5ab50104-1a3c-4d18-af41-a416d86f259a",
              "name": "productId",
              "value": "={{ $json[\"product_id\"] }}",
              "type": "string"
            },
            {
              "id": "afe54348-a2b0-42f9-9040-58fb56e50e80",
              "name": "imagePath",
              "value": "={{ $json[\"imagePath\"] }}",
              "type": "string"
            },
            {
              "id": "faf5de24-9cfc-4cf3-8923-0d4d8706c09a",
              "name": "price.value",
              "value": "={{ $json[\"price\"] }}",
              "type": "number"
            },
            {
              "id": "8e09e450-9b4b-47bb-924a-4b473547a3cf",
              "name": "merchant_id",
              "value": "={{ $('[GET] Pega o Merchant_ID').item.json.merchant_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -32
      ],
      "id": "98c273fc-05e4-4113-a7e1-39dbdc023096",
      "name": "[FILTER] Filtra dados Importantes dos Produtos2"
    },
    {
      "parameters": {
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "item_id",
              "fieldValue": "={{ $('[REMOVE] Remove Itens Duplicados e Mantém os Únicos').item.json.item_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('[REMOVE] Remove Itens Duplicados e Mantém os Únicos').item.json.name }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $('[REMOVE] Remove Itens Duplicados e Mantém os Únicos').item.json.description }}"
            },
            {
              "fieldId": "merchant_id",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos\"].json[\"merchant_id\"] }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('[GET] Pega o Token').item.json.client_id }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $('[REMOVE] Remove Itens Duplicados e Mantém os Únicos').item.json.price.value }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $node[\"[REMOVE] Remove Itens Duplicados e Mantém os Únicos\"].json[\"productId\"] }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $json[\"status\"] }}"
            },
            {
              "fieldId": "imagePath",
              "fieldValue": "={{ $json[\"imagePath\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2560,
        144
      ],
      "id": "f6bbf76b-3925-4c9a-9b5c-a088e5b53d9d",
      "name": "[CREATE] Cria o Produto dentro do banco de dados1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Código para node Code do n8n\n// Remove inputs duplicados mantendo apenas os únicos\n\n// Obter todos os inputs\nconst allInputs = $input.all();\n\n// Objeto para armazenar contagem de cada combinação nome+valor\nconst fieldCounts = {};\n\n// Primeira passagem: contar ocorrências de cada campo\nallInputs.forEach((input, inputIndex) => {\n  Object.keys(input.json).forEach(fieldName => {\n    const fieldValue = input.json[fieldName];\n    \n    // Criar uma chave única combinando nome do campo e valor\n    // Usando JSON.stringify para lidar com objetos/arrays corretamente\n    const key = `${fieldName}:${JSON.stringify(fieldValue)}`;\n    \n    if (!fieldCounts[key]) {\n      fieldCounts[key] = [];\n    }\n    \n    fieldCounts[key].push({\n      inputIndex,\n      fieldName,\n      fieldValue\n    });\n  });\n});\n\n// Segunda passagem: criar novos inputs removendo campos duplicados\nconst uniqueInputs = allInputs.map((input, inputIndex) => {\n  const cleanedJson = {};\n  \n  Object.keys(input.json).forEach(fieldName => {\n    const fieldValue = input.json[fieldName];\n    const key = `${fieldName}:${JSON.stringify(fieldValue)}`;\n    \n    // Manter apenas se este campo+valor aparece apenas uma vez\n    if (fieldCounts[key].length === 1) {\n      cleanedJson[fieldName] = fieldValue;\n    }\n  });\n  \n  return {\n    json: cleanedJson,\n    // Manter outros dados do input original se existirem\n    ...(input.binary && { binary: input.binary }),\n    ...(input.pairedItem && { pairedItem: input.pairedItem })\n  };\n});\n\n// Filtrar inputs que ficaram vazios (sem nenhum campo único)\nconst finalInputs = uniqueInputs.filter(input => \n  Object.keys(input.json).length > 0\n);\n\n// Retornar os inputs limpos\nreturn finalInputs;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -16
      ],
      "id": "3e2db13f-c817-4fe3-a438-d18f652a220e",
      "name": "[REMOVE] Remove Itens Duplicados e Mantém os Únicos",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f0dc65b-2680-49fd-a305-bfdc4052f7e7",
              "leftValue": "={{ $json }}",
              "rightValue": "={{ $json.item_id }}",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        -16
      ],
      "id": "78e07f3e-1815-41fb-85e8-984bb0f03367",
      "name": "Verifica se o JSON do \"Code\" esta Vazio",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## *Insert de novos Produtos da Loja*",
        "height": 432,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        -112
      ],
      "id": "5c919540-ab4b-49fc-b61c-cd34033ff7bc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05b7bd82-63a3-4d54-b766-9fd58753841f",
              "name": "item_id",
              "value": "={{ $node[\"Separa os Itens\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "26670a19-0a79-491a-8f88-4bae76766bf7",
              "name": "name",
              "value": "={{ $node[\"Separa os Itens\"].json[\"name\"] }}",
              "type": "string"
            },
            {
              "id": "13bf9017-da11-4461-ac4c-d123d8dfef68",
              "name": "status",
              "value": "={{ $node[\"Separa os Itens\"].json[\"status\"] }}",
              "type": "string"
            },
            {
              "id": "afe54348-a2b0-42f9-9040-58fb56e50e80",
              "name": "imagePath",
              "value": "={{ $node[\"Separa os Itens\"].json[\"imagePath\"] }}",
              "type": "string"
            },
            {
              "id": "8e09e450-9b4b-47bb-924a-4b473547a3cf",
              "name": "merchant_id",
              "value": "={{ $('[GET] Pega o Merchant_ID').item.json.merchant_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        -32
      ],
      "id": "fbb75443-91a2-413a-97f1-71f0b64435b1",
      "name": "[FILTER] Filtra dados Importantes dos Produtos3"
    },
    {
      "parameters": {
        "url": "=https://merchant-api.ifood.com.br/catalog/v2.0/merchants/{{ $node[\"[GET] Pega o Merchant_ID\"].json[\"merchant_id\"] }}/catalogs/{{ $item(\"0\").$node[\"[GET] Pega o catálogo do Merchant\"].json[\"catalogId\"] }}/categories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"[GET] Pega o Token\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        -32
      ],
      "id": "86ce52aa-a2c5-46cc-b8b5-eed43c0c5d73",
      "name": "[GET] Pega as Categorias e os Produtos da Categoria2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2944,
        -32
      ],
      "id": "68caaecf-5d67-407b-a16b-e2b47eefd77d",
      "name": "Separa os Itens2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "merchant_id",
              "condition": "eq",
              "keyValue": "={{ $('[FILTER] Filtra dados Importantes dos Produtos3').item.json.merchant_id }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('[FILTER] Filtra dados Importantes dos Produtos3').item.json.item_id}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3328,
        -32
      ],
      "id": "77f00cce-796e-457d-b5b3-22700c6ce213",
      "name": "[GET ALL] Pega todas os Produtos das Lojas1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "content": "## *Requisição e Filtragem da API de Produtos*",
        "height": 432,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2720,
        -112
      ],
      "id": "d183c87c-73b5-49c8-ab20-b8f92861e851",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "merchant_id",
              "condition": "eq",
              "keyValue": "={{ $json[\"merchant_id\"] }}"
            },
            {
              "keyName": "item_id",
              "condition": "eq",
              "keyValue": "={{ $json.item_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $node[\"[FILTER] Filtra dados Importantes dos Produtos3\"].json[\"status\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3808,
        144
      ],
      "id": "1cc7c041-c2c0-4574-9c2b-f188ac6d42b8",
      "name": "[UPDATE] Atualiza Status do Merchant para UNAVAILABLE1",
      "credentials": {
        "supabaseApi": {
          "id": "WZwCLxbNyERjD8WU",
          "name": "Supabase Plano Certo APP"
        }
      }
    },
    {
      "parameters": {
        "content": "## *Verifica se o Primeiro Insert dos Produtos ou Não*",
        "height": 256,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -400
      ],
      "id": "21d4f3b7-aa9c-4890-8f30-61887e6ac8a0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## *Filtragem dos Dados do Segundo Insert em diante dos Produtos*",
        "height": 432,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -112
      ],
      "id": "02ffd8b2-a87b-4604-8b99-ef4e9daa7a07",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "[GET] Pega o Token": {
      "main": [
        [
          {
            "node": "[GET] Pega o Merchant_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ERROR] Mensagem de Erro do Endpoint": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "[GET] Pega o Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega o Merchant_ID": {
      "main": [
        [
          {
            "node": "[GET] Pega o catálogo do Merchant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET ALL] Pega todas os Produtos das Lojas": {
      "main": [
        [
          {
            "node": "Verifica se o JSON esta Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega o catálogo do Merchant": {
      "main": [
        [
          {
            "node": "[GET] Pega as Categorias e os Produtos da Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega as Categorias e os Produtos da Categoria": {
      "main": [
        [
          {
            "node": "Separa os Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os Itens": {
      "main": [
        [
          {
            "node": "[FILTER] Filtra dados Importantes dos Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Filtra dados Importantes dos Produtos": {
      "main": [
        [
          {
            "node": "[GET ALL] Pega todas os Produtos das Lojas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Verifica se o Status do Produto": {
      "main": [
        [
          {
            "node": "[UPDATE] Atualiza Status do Merchant para UNAVAILABLE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[UPDATE] Atualiza Status do Merchant para UNAVAILABLE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CREATE] Cria o Produto dentro do banco de dados": {
      "main": [
        []
      ]
    },
    "Verifica se o JSON esta Vazio": {
      "main": [
        [
          {
            "node": "[GET] Pega as Categorias e os Produtos da Categoria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[FILTER] Filtra dados Importantes dos Produtos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Filtra dados Importantes dos Produtos1": {
      "main": [
        [
          {
            "node": "[CREATE] Cria o Produto dentro do banco de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega as Categorias e os Produtos da Categoria1": {
      "main": [
        [
          {
            "node": "Separa os Itens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os Itens1": {
      "main": [
        [
          {
            "node": "[FILTER] Filtra dados Importantes dos Produtos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "[REMOVE] Remove Itens Duplicados e Mantém os Únicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Filtra dados Importantes dos Produtos2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[REMOVE] Remove Itens Duplicados e Mantém os Únicos": {
      "main": [
        [
          {
            "node": "Verifica se o JSON do \"Code\" esta Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o JSON do \"Code\" esta Vazio": {
      "main": [
        [
          {
            "node": "[GET] Pega as Categorias e os Produtos da Categoria2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[CREATE] Cria o Produto dentro do banco de dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET] Pega as Categorias e os Produtos da Categoria2": {
      "main": [
        [
          {
            "node": "Separa os Itens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os Itens2": {
      "main": [
        [
          {
            "node": "[FILTER] Filtra dados Importantes dos Produtos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[FILTER] Filtra dados Importantes dos Produtos3": {
      "main": [
        [
          {
            "node": "[GET ALL] Pega todas os Produtos das Lojas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[GET ALL] Pega todas os Produtos das Lojas1": {
      "main": [
        [
          {
            "node": "Verifica se o Status do Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "daa32fe5-60b2-4ece-8de9-4293d870a14f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d671f0f22e0456e67c382ec7d8684bfcf78d43fd576c57604c7a586aea237f0"
  },
  "id": "98keYvn2qCQxcewH",
  "tags": []
}